.figures{
	display: flex;
}
/*.group1{
	width: 80%;
}
.group2{
	width: 80%;
}*/
.group{
	width: 80%;
}
.figure1{
	height: 200px;
	width: 100%;
	background: green;
}
.figure2{
	height: 200px;
	width: 33%;
	background: red;
	display: inline-block;
}
.figure3{	
	height: 200px;
	width: 33%;
	background: red;
	display: inline-block;
}
.figure4{
	height: 200px;
	width: 33%;
	background: red;
	display: inline-block;
}
.figure5{
	height: 200px;
	width: 33%;
	background: lightblue;
	display: inline-block;
}
.figure6{
	height: 200px;
	width: 33%;
	background: lightblue;
	display: inline-block;
}
.figure7{
	height: 200px;
	width: 33%;
	background: lightblue;
	display: inline-block;
}
.figure8{
	height: 400px;
	width: 30%;
	background: pink;
}
